<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div style="background: lightgray; padding 16px">
      <ul>
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "About Us", about_path %></li>
        <li><%=link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
